.mainDiv{
text-align: center;
margin-top: 20px;
}
.searchbox-div{
    margin: 40px;
}
.cards-gap{
    row-gap: 20px;
}
.main-container{
    margin:10px;
}
.cards{
 border-radius: 12px 12px !important;
}
.input-box{
    border-radius: 10px 10px;
    width: 280px;
    padding: 5px 5px;
    border: 1px solid yellowgreen;
}
.formDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.submit-button{
    background-color:goldenrod;
    border-radius: 7px 7px 7px 7px;
    width: 100px;
}
h1,h2{
    color: chocolate;
}
h4{
    color:blueviolet ;
}
.recipeDetails{
    color: chocolate;
}
.Details-box{
    max-width:600px;
    margin-top: 50px;
}
.recipe-instuction{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400px;
}